
## <summary>policy for shibd</summary>

########################################
## <summary>
##	Execute shibd_exec_t in the shibd domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`shibd_domtrans',`
	gen_require(`
		type shibd_t, shibd_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, shibd_exec_t, shibd_t)
')

######################################
## <summary>
##	Execute shibd in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`shibd_exec',`
	gen_require(`
		type shibd_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, shibd_exec_t)
')
